{% extends 'base.html' %}
{% block title %} / Diary{% endblock %}
{% block content %}
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZXZV2S9F5C"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ZXZV2S9F5C');
</script>
</head>
<body>
{% load static %}
<link rel="stylesheet" href="{% static 'css/content.css' %}">
{% if contents %}
<section>
<h2 class="title">{{ title }}</h2>
<h4 class="content-username">{{ title.user.username }}</h4>
<ul class="content-ul">
    {% for content in contents %}
    <div class="openbook-image">
    <img src="{% static 'css/img/open_book.png' %}" height="30" width="30">
    </div>
    <li>
        <p class="date">{{ content.date|date:"Y/n/j" }}</p>
    </li>
    <hr>
    <li>
        {% if content.subtitle %}
        <p class="subtitle">{{ content.subtitle }}</p>
        {% endif %}
    </li>
    <li>
        <p class="content">{{ content.content }}</p>
    </li>
    <br>
    {% endfor %}
</ul>
{% else %}
<h2>There is no diary</h2>
{% endif %}
</section>
</body>
{% endblock %}