{% extends 'base.html' %}
{% block title %} / Diary{% endblock %}
{% block content %}
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZXZV2S9F5C"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ZXZV2S9F5C');
</script>
<!-- Ajax -->
<script>
    window.onload = function() {
        document.getElementById("good_count").innerText = {{ title.goodstamp }}
    }

    function api_good() {
        var api_url = "{% url 'accounts:api_good' title.id %}";
        var btn = document.getElementById("good_count");
        var request = new XMLHttpRequest();
        request.onreadystatechange = function() {
            if (request.readyState === 4 && request.status === 200) {
                var received_data = JSON.parse(request.responseText);
                btn.innerText = received_data.goodstamp;
                document.getElementById("good-a").removeAttribute( "onclick" );
            }
        }
        request.open("GET", api_url);
        request.send()
    }
</script>
</head>
<body>
{% load static %}
{% load accounts_extras %}
<link rel="stylesheet" href="{% static 'css/content.css' %}">
{% if contents %}
    <section>
    <h2 class="title">{{ title }}</h2>
    <h4 class="content-username">{{ title.user.username }}</h4>
    {% if title.user != request.user %}
        <div class="good-frame">
        <a id="good-a" onclick="api_good()">
            <img src="{% static 'css/img/cheer.png' %}" height="30px" width="30px" alt="no image" class="cheer-image">
            <span id="good_count"></span>
            <p class="good-p">Cheer up!</p>
        </a>
        </div>
    {% endif %}
    {% for content in contents %}
    <ul class="content-ul">
        <div class="openbook-image">
        {% if content.user == request.user and forloop.counter0|divisibleby:"3" %}
        {% with "css/diary_images/"|join:forloop.counter0 as image_dir %}
        <img src="{% static image_dir %}" width="40px">
        {% endwith %}
        {% else %}
        <img src="{% static 'css/img/open_book.png' %}" height="30" width="30">
        {% endif %}
        </div>
        <li>
            <p class="date">{{ content.date|date:"Y/n/j" }}</p>
        </li>
        <hr>
        <li>
            {% if content.subtitle %}
            <p class="subtitle">{{ content.subtitle }}</p>
            {% endif %}
        </li>
        <li>
            <p class="content">{{ content.content }}</p>
        </li>
        <br>
    </ul>
    {% endfor %}
    {% else %}
    <h2>There is no diary</h2>
    {% endif %}
    </section>
</body>
{% endblock %}