{% extends 'base.html' %}
{% block title %} / write stories{% endblock %}
{% block content %}
{% load static %}
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DHNBQZS05Z"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DHNBQZS05Z');
</script>
<link rel="stylesheet" href="{% static 'css/keep_diary.css' %}">
</head>
<div id="settings" ontouchstart="<%= true %>">
    <input checked="<%= true %>" class="nav" name="nav" type="radio"></input>
    <span class="nav">Write a story</span>
    <input class="nav" name="nav" type="radio"></input>
    <span class="nav">Edit books</span>
    <main class="content">
      <section id="keep-diary">
        <form action="{% url 'accounts:keep_diary' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <ul>
            <li class="large">
              <fieldset class="material">
                <div class="diary-title">
                  <select name="diary-title" value="Title" required>
                    <option value="" disabled selected style="display:none;" class="None-option">Choose a book</option>
                    {% for title in diaries %}
                    <option value="{{ title.diary_title }}">{{title.diary_title}} : {{ title.goodstamp }}cheers</option>
                    {% endfor %}
                  </select>
                  <hr/>
                </div>
              </fieldset>
            </li>
            <li class="large">
              <fieldset class="material">
                <div>
                  <input type="text" name="diary-subtitle" placeholder="Diary subtitle"></input>
                  <label>SubTitle</label>
                  <hr/>
                </div>
              </fieldset>
            </li>
            <li class="large">
              <fieldset class="material">
                <div>
                  <textarea name="content" cols="80" rows="7" wrap="soft" class="diary-content" placeholder="Write content here" maxlength="700"></textarea>
                  <label class="content-label">Content</label>
                  <hr/>
                </div>
              </fieldset>
            </li>
            <li class="attach_photo">
              {% comment %} <label class="attach_photo-label">You can attach a photo</label>
              <input type="file" name="attached_photo" accept="image/*"> {% endcomment %}
              <label for="id_photo">You can attach a photo</label>
              <input type="file" name="photo" accept="image/*" id="id_photo">
              {% comment %} {{ photo_form }} {% endcomment %}
            </li>
            <li class="large padding">
              <fieldset class="material-button center">
                <div>
                  <input class="save" type="submit" value="Complete"></input>
                </div>
              </fieldset>
            </li>
          </ul>
        </form>
      </section>
      <section class="upcoming" id="advanced">
        <form action="{% url 'accounts:keep_diary' %}" method="POST">
          {% csrf_token %}
          <ul>
            <li>
              <fieldset class="material">
                <div>
                  <input type="text" name="create_diary-title" placeholder="You can create new books" class="create-diary"></input>
                  <label class="diary-label">Title</label>
                  <hr/>
                </div>
              </fieldset>
            </li>
            <li>
              <label class="is_public-label">
                <input type="radio" name="is_public" value="False" class="is_private-checkbox">
                Private
                <input type="radio" name="is_public" value="True" class="is_private-checkbox" checked>
                Public
              </label>
            </li>
            <li class="large padding" >
              <fieldset class="material">
                <div class="delete-book">
                  <select name="delete_diary-title">
                    <option value="" selected style="display:none;" class="None-option">You can delete Books here.</option>
                    {% for title in diaries %}
                    <option>{{title.diary_title}}</option>
                    {% endfor %}
                  </select>
                  <hr/>
                </div>
              </fieldset>
            </li>
            <li class="large padding">
              <fieldset class="material">
                <div class="delete-content">
                  <select name="delete_diary-content">
                    <option value="" selected class="None-option" class="None-option">You can delete contents in your books here.</option>
                    <option value="">Title : Subtitle</option>
                    {% for content in contents %}
                    <option value="{{ content.id }}">{{ content.diary_title }} : {{ content.subtitle }}</option>
                    {% endfor %}
                  </select>
                  <hr/>
                </div>
              </fieldset>
            </li>
            <li class="large padding">
              <fieldset class="material-button center">
                <div>
                  <input class="save" type="submit" value="Complete"></input>
                </div>
              </fieldset>
            </li>
          </ul>
        </form>
      </section>
    </main>
</div>

{% endblock %}