{% extends 'base.html' %}
{% block content %}
{% load static %}
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TC56R95R84"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-TC56R95R84');
</script>
    <link rel="stylesheet" href="{% static 'css/message.css' %}">
</head>
<section>
<h1>{{ friend.username }} : {{ user.username }}</h1>
<h2>～ Talk room ～</h2>
<ul>
{% for message in messages %}
{% if message.sender == user %}
<h4 class="my-message">{{ message.content }}
    {% if user.icon %}
    <img src="{{ user.icon.url }}" class="message-icon">
    {% else %}
    <img src="{% static 'css/img/default.jpg' %}" class="message-icon">
    {% endif %}
    <div class="date">{{ message.date|date:"Y/n/j P" }}</div>
</h4>
{% elif message.sender == friend %}
<h4 class="friend-message">
    {% if friend.icon %}
    <img src="{{ friend.icon.url }}" class="message-icon">
    {% else %}
    <img src="{% static 'css/img/default.jpg' %}" class="message-icon">
    {% endif %}
    {{ message.content }}
    <div class="date">{{ message.date|date:"Y/n/j P" }}</div>
</h4>
<br>
{% else %}
<h1>It is not your room</h1>
{% endif %}
{% endfor %}
</ul>
<form method="POST" action="{% url 'accounts:message' friend.id %}" class="message-form">
    {% csrf_token %}
    <textarea placeholder="send message to {{ friend.username }}." name="message" class="message-textarea" maxlength="255" required></textarea>
    <button type="submit" class="send-button">send!</button>
</form>
</section>
{% endblock %}