{% extends 'base.html' %}
{% block title %} / Account Page{% endblock %}
{% block content %}
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TC56R95R84"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-TC56R95R84');
</script>
{% comment %} <meta name="viewport" content="width=device-width,initial-scale=1"> {% endcomment %}
</head>
{% load static %}

<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<div id="settings" ontouchstart="<%= true %>">
    <input checked="<%= true %>" class="nav" name="nav" type="radio"></input>
    <span class="nav">Edit profile</span>
    <input class="nav" name="nav" type="radio"></input>
    <span class="nav">Messages</span>
    <main class="content">
      <section id="profile">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <ul>
            <li class="large padding avatar">
              <img class="icon" {% if user.icon %} src="{{ user.icon.url }}" {% endif %}>
              <div>
                  <div>
                    <p class="icon-form">{{ form }}<p>
                  </div>
              </div>
            </li>
            <li>
              <fieldset class="material">
                <div>
                  <input type="text" value="{{ user.username }}" name="username"></input>
                  <label>Uesrname</label>
                  <hr/>
                </div>
              </fieldset>
            </li>
            <li>
              <fieldset class="material">
                <div>
                  <input type="text" value="{% if user.favorite %}{{ user.favorite }}{% endif %}" name="favorite"></input>
                  <label>Favorite things</label>
                  <hr/>
                </div>
              </fieldset>
            </li>
            <li>
              <fieldset class="material">
                <div>
                  <input type="text" name="dream" value="{% if user.dream %}{{ user.dream }}{% endif %}"></input>
                  <label>dream</label>
                  <hr/>
                </div>
              </fieldset>
            </li>
            <li>
              <fieldset class="material">
                <div>
                  <input type="text" name="task" value="{% if user.task %}{{ user.task }}{% endif %}"></input>
                  <label>What you decided to do</label>
                  <hr/>
                </div>
              </fieldset>
            </li>
            <li class="large">
              <fieldset class="material">
                <div>
                  <textarea name="about" cols="90" rows="5" class="about-text" maxlength="450">{% if user.introduction %}{{ user.introduction }}{% endif %}</textarea>
                  <label class="about-label">About you</label>
                  <hr/>
                </div>
              </fieldset>
            </li>
            <li>
              <fieldset class="material">
                <div>
                    <input type="url" pattern="https://.*" name="website" placeholder="https://" value="{% if user.website %}{{ user.website }}{% endif %}"></input>
                    <label>Your Website</label>
                    <hr/>
                </div>
              </fieldset>
            </li>
            <li>
              <label class="is_public-label">
                {% if user.is_public %}
                <input type="radio" name="is_public-account" value="False" class="is_private-checkbox">
                Private
                <input type="radio" name="is_public-account" value="True" class="is_private-checkbox" checked>
                Public
                {% else %}
                <input type="radio" name="is_public-account" value="False" class="is_private-checkbox" checked>
                Private
                <input type="radio" name="is_public-account" value="True" class="is_private-checkbox">
                Public
                {% endif %}
              </label>
            </li>
            <li class="large padding">
              <fieldset class="material-button center">
                <div>
                  <input class="save" type="submit" value="Save">
                </div>
              </fieldset>
            </li>
          </ul>
        </form>
      </section>

      <section id="account">
        <ul>
          <li class="material message-icon-li">
            <img class="icon" {% if user.icon %} src="{{ user.icon.url }}" {% endif %}>
          </li>
          <h2>Message rooms</h3>
          {% if user.thread_receiver.all %}
          {% for message in user.thread_receiver.all %}
          <li class="material message-li">
            {% comment %} <fieldset class="message-field"> {% endcomment %}
            <a href="{% url 'accounts:message' message.user1.id %}" class="message-room">
              {% if message.user1.icon %}
              <img src="{{ message.user1.icon.url }}" class="message-icon">
              {% else %}
              <img src="{% static 'css/img/default.jpg' %}" class="message-icon">
              {% endif %}
              {{ message.user1.username }}
            </a>
            <form method="POST" action="{% url 'accounts:profile' %}" class="message-form">
              {% csrf_token %}
              <button type="submit" value="{{ message.user1.id }}" name="delete_message-room_user1" class="delete-button" onclick="return confirm('Are you sure to delete this message room and all messages in it?\r\nThis cannot be undone.')">delete</button>
              </form>
          {% comment %} </fieldset> {% endcomment %}
          </li>
          {% comment %} <form method="POST" action="{% url 'accounts:profile' %}" class="message-form">
          <button type="submit" name="delete_message-room">delete message room</button> {% endcomment %}
          {% endfor %}
          {% endif %}
          {% if user.thread_sender.all %}
          {% for message in user.thread_sender.all %}
          <li class="material message-li">
            {% comment %} <fieldset class="message-field"> {% endcomment %}
          <a href="{% url 'accounts:message' message.user2.id %}" class="message-room">
            {% if message.user2.icon %}
            <img src="{{ message.user2.icon.url }}" class="message-icon">
            {% else %}
            <img src="{% static 'css/img/default.jpg' %}" class="message-icon">
            {% endif %}
            {{ message.user2.username }}
          </a>
          <form method="POST" action="{% url 'accounts:profile' %}" class="message-form">
            {% csrf_token %}
            <button type="submit" value="{{ message.user2.id }}" name="delete_message-room_user2" class="delete-button" onclick="return confirm('Are you sure to delete this message room and all messages in it?\r\nThis cannot be undone.')">delete</button>
            </form>
        {% comment %} </fieldset> {% endcomment %}
          </li>
          {% endfor %}
          {% endif %}
        </ul>
      </section>
    </main>
</div>

{% endblock %}