<html>
<title>Sign Up/In</title>
{% load static %}
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TC56R95R84"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-TC56R95R84');
</script>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>  
	<div class="login-wrap">
		<div class="login-html">
			<div class="invalid-message">{% include 'includes/messages.html' %}</div>
			<input id="tab-1" type="radio" name="tab" class="sign-in"><label for="tab-1" class="tab">Sign In</label>
			<input id="tab-2" type="radio" name="tab" class="sign-up" checked><label for="tab-2" class="tab">Sign Up</label>
			<div class="login-form">
				<form method="POST" action="{% url 'accounts:sign' %}">
				{% csrf_token %}
					<div class="sign-in-htm">
						<div class="group">
							<label for="email" class="label">Email</label>
							<input id="email" type="email" class="input" name="email" required>
						</div>
						<div class="group">
							<label for="pass" class="label">Password</label>
							<input id="pass" type="password" class="input" name="password" required>
						</div>
						<div class="group">
							<input type="submit" class="button" value="Sign In">
						</div>
						{% comment %}<div class="hr"></div>
						<div class="foot-lnk">
							<a href="#forgot" class="label">Forgot Password?</a>
						</div> {% endcomment %}
					</div>
			    </form>
			    <form method="POST" action="{% url 'accounts:sign' %}">
				{% csrf_token %}
					<div class="sign-up-htm">
						<div class="group">
							<label for="user" class="label">Username</label>
							<input id="user" type="text" class="input" name="username" required>
						</div>
						<div class="group">
							<label for="pass" class="label">Email Address</label>
							<input id="pass" type="text" class="input" name="email" required>
						</div>
						<div class="group">
							<label for="pass" class="label">Password</label>
							<input id="pass" type="password" class="input" name="password" required>
						</div>
						<div class="group">
							<label for="pass" class="label">Repeat Password</label>
							<input id="pass" type="password" class="input" name="confirm_password" required>
						</div>
						<div class="group">
							<input type="submit" class="button" value="Sign Up">
						</div>
						{% comment %} <div class="hr"></div>
						<div class="foot-lnk">
							<label for="tab-1" class="label">You have an account?</a>
						</div> {% endcomment %}
					</div>
			    </form>
			</div>
		</div>
	</div>
</body>
</html>