{% extends 'base.html' %}
{% block title %} | {{ user_detail.username }}'s detail{% endblock %}
{% block content %}
{% load static %}
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZXZV2S9F5C"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ZXZV2S9F5C');
</script>
</head>
<link rel="stylesheet" href="{% static 'css/detail.css' %}">
<body>
  <section>
    {% if user_detail.icon %}
    <img src="{{ user_detail.icon.url }}" height="82px" width="82px" class="detail-icon">
    {% else %}
    <img src="{% static 'css/img/default.jpg' %}" class="detail-icon">
    {% endif %}
    <h2 class="detail-username">
      <a {% if user_detail.website %} href="{{ user_detail.website }}" {% endif %} class="detail-to-website" target="_blank">
        {{ user_detail.username }}
      </a>
    </h2>
    <ul class="detail-content">
      <fieldset>
        <legend>I like</legend>
      <li class="detail-li">
        {% if user_detail.favorite %}
        {{ user_detail.favorite }}
        {% endif %}
      </li>
      </fieldset>
      <fieldset>
        <legend>My dream</legend>
      <li class="detail-li">
        {% if user_detail.dream %}
        {{ user_detail.dream }}
        {% endif %}      
      </li>
      </fieldset>
      <fieldset>
        <legend>I decided to</legend>
      <li class="detail-li">
        {% if user_detail.task %}
        {{ user_detail.task }}
        {% endif %}
      </li>
      </fieldset>
      <fieldset>
        <legend>About me</legend>
      <li class="detail-li">
        {% if user_detail.introduction %}
        {{ user_detail.introduction | linebreaksbr }}
        {% endif %}
      </li>
      </fieldset>
      <fieldset class="diary-fieldset">
        <legend>
          Diaries
        </legend>
        {% if user_detail.related_diary_title.all %}
        <a href="{% url 'accounts:diary' user_detail.id %}" class="detail-diary">
      <li class="detail-li">
        {% for diary in user_detail.related_diary_title.all %}
          {{ diary.diary_title }}
          {% if diary.is_public %}
          <img src="{% static 'css/img/book-public.png' %}" height="24px" width="24px">
          {% else %}
          <img src="{% static 'css/img/closed_book.png' %}" height="20px" width="20px">
          {% endif %}
        <br>
        {% endfor %}
      </li>
      <div class="see-diary">click and see diaries!</div>
    </a>
      {% endif %}
      </fieldset>
    </ul>
  </section>
</body>
{% endblock %}