.subtitle {
    text-decoration: underline;
}

.content {
    margin-bottom: 2%;
    font-family: cursive;
    font-size: large;
    font-weight: 600;
}

.content-username {
    margin-top: 0;
    font-family: cursive;
    float: right;
    margin-bottom: 5px;
}

.title {
    font-size: xx-large;
    font-family: cursive;
    text-align: center;
    margin-bottom: 2%;
}

p {
    margin: 0;
}

body {
    /* background: linear-gradient(150deg, #fff4e0b4 0%, rgba(245, 245, 245, 0.719) 60%, #ffd9008e 100%); */
    background: linear-gradient(115deg, whitesmoke 0%, #f4c14e 60%, #d36950 100%);
    margin: 0;
    padding-top: 50px;
}

.content-ul {
    list-style: none;
    width: 85%;
}

hr {
    margin: 0 0 5px 0;
}

section {
    margin: 40px auto;
    padding: 20px;
    max-width: 100%;
    line-height: 1.6em;
    display: flex;
    box-sizing: border-box;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.openbook-image {
    float: right;
}

#good-a {
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 0.3rem 0.7rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    border-radius: 0.5rem;
    /* border: 2px solid black; */
    /* background: #fff; */
    color: black;
    text-align: center;
  }

#good-a:active {
    opacity: 0;
}

#good-a:hover {
    color: black;
    background: whitesmoke;
 }