body {
    margin: 0;
    padding-top: 40px;
    font-family: "Open Sans", sans-serif;
    color: #333;
    /* background: linear-gradient(135deg, whitesmoke 0%, #f4c14e 60%, #d36950 100%); */
    background: linear-gradient(135deg, whitesmoke 0%, #daa520 60%, #ffa500 100%);
    overflow-y: scroll;
    overflow-x: hidden;
  }

h3 {
    color: black;
    margin-bottom: 0;
    font-size: x-large;
}

.is_public {
  margin: 0;
  font-size: small;
}

.diary-field {
  margin-top: 20px;
}

.keep_diary-url {
  font-size: x-large;
  float: right;
  margin: 50px;
  color: black;
  text-decoration: none;
}

.no-diary {
  font-size: x-large;
  margin: 50px;
  color: black;
}

.cheerimg {
  margin: 0;
}