body {
    margin: 0;
    padding-top: 100px;
    background: linear-gradient(135deg, rgb(12, 12, 170),rgb(83, 129, 255) 30%, rgb(68, 118, 255) 65%, rgb(22, 48, 194) 100%);
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: scroll;
}
section {
    margin: 40px auto;
    padding: 30px 100px;
    max-width: 100%;
    line-height: 1.6em;
  }
header {
    text-align: center;
}
.dream-h3 {
    display: flex;
    margin: -30px auto;
}
.dream-h3:nth-child(even) {
    flex-direction: row-reverse;
}
.dream_to_detail {
    position: relative;
    text-decoration: none;
    display: inline-block;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: radial-gradient(white, rgb(0, 53, 255) 90%);
    text-align: center;
    /* align-items: center;
    justify-content: center; */
    /* line-height: 300px; */
    transition: 0.7s;
    color: black;
    overflow-wrap: break-word;
}
.dream_to_detail:hover {
    /* background: radial-gradient(white, rgb(58, 117, 255) 75%); */
    /* background: radial-gradient(white, rgb(65, 93, 255) 90%); */
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    filter: brightness(1.2);
}
.dream {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 16px;
    width: 250px;
}

@media only screen and (max-width: 480px) {
    .dream_to_detail {
        height: 180px!important;
        width: 180px!important;
        border-radius: 50%;
        text-align: center;
        /* align-items: center;
        justify-content: center; */
        /* line-height: 300px; */
        background: radial-gradient(whitesmoke, rgb(187, 213, 255) 40%, rgb(58, 110, 253) 80%, rgb(23, 65, 255));
    }
    .dream {
        font-size: 14px!important;
        width: 125px;
    }
    .dream-h3 {
        margin-top: 0!important;
    }
    section {
        padding: 30px 30px!important;
    }
}