<html>
{% load static %}
<!-- navbar Start -->
{% comment %} <script type="text/javascript" src="{% static 'js/app.js' %}"></script> {% endcomment %}
<title>dstaries {% block title %}{% endblock %}</title>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<nav>
    <div class="logo"></div>
    <ul>
        <li><a href="{% url 'dreams:home' %}">Home</a></li>

        {% if user.is_authenticated %}
        {% comment %} <li>
            <a href="{% url 'accounts:' %}" method="POST">
            {% csrf_token %}
            My Page
            </a>
        </li> {% endcomment %}
        <li><a href="{% url 'accounts:profile' %}">My account</a></li>
        {% if 'accounts/diary' in request.path %}
        <li><a href="{% url 'accounts:keep_diary' %}">Write a story</a></li>
        {% else %}
        <li><a href="{% url 'accounts:diary' user.id %}">My story</a></li>
        {% endif %}
        <li>
            <a href="{% url 'accounts:signout' %}" method="POST">
            {% csrf_token %}
            Sign out
            </a>
        </li>
        {% else %}
        <li><a href="{% url 'accounts:sign' %}">Sign in  /  Sign up</a></li>
        {% endif %}
    </ul>
</nav>
<!-- navbar end -->
{% block content %}
{% endblock %}
</html>