{% extends 'base.html' %}
{% block title %}/ dreams{% endblock %}
{% block content %}
{% load static %}
<head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DHNBQZS05Z"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DHNBQZS05Z');
</script>
</script>
    <link rel="stylesheet" href="{% static 'css/dreams.css' %}">
</head>
<body>
<header>
<h1 class="title">Many dreams all over the world here!</h1>
{% comment %} <h2>Click and look at dreamer's profile!</h2> {% endcomment %}
</header>
<section>
<div class="dreams">
{% for dreamer in dreamers %}
<h3 class="dream-h3">
    <a href="{% url 'accounts:user_detail' dreamer.id %}" class="dream_to_detail">
        <span class="dream">{{ dreamer.dream }}</span>
    </a>
</h3>
{% endfor %}
</div>
</section>
</body>
{% endblock %}