{% extends 'base.html' %}
{% block content %}

<!-- Header Start -->
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DHNBQZS05Z"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DHNBQZS05Z');
</script>
</script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<header>
    <div class="headline">
        <div class="inner">
			<div class="invalid-message">{% include 'includes/messages.html' %}</div>
            <h1>Dstaries</h1>
            {% if user.is_authenticated %}
            <p>welcome {{ user.username }}! </p>
            {% else %}
            <p>What is your dream?</p>
            {% endif %}
        </div>
    </div>
</header>
<section>
    <h1>Join us and let's move forward together!</h1>
    {% comment %} {% if user.is_authenticated %} {% endcomment %}
    <h2 class="home-to-dreams-h2">
        <a href="{% url 'dreams:dreams' %}" class="home-to-dreams">
            "Dreams"
        </a>
    </h2>
    <h3 class="home-to-dreams-explain">Click and look at dreams!</h3>
        <h2>Active users!</h2>
        <h3>Users who are writing stories frequently.</h3>
        {% for user in users|slice:":5" %}
            {% if user.is_public %}
                <ul>
                    <li>
                        <img src="{{ user.icon.url }}" alt="icon" height="80px" width="80px" style="border-radius: 8px;">
                    </li>
                    <li>
                        <a href="{% url 'accounts:user_detail' user.id %}">{{ user.username }}</a>
                    </li>
                    <li>
                        {% if user.dream %}
                        <a class="dream">{{ user.dream }}</a>
                        {% endif %}
                    </li>
                </ul>
            {% endif %}
        {% endfor %}
    {% comment %} {% endif %} {% endcomment %}
    <!-- about website -->
    <h2>Let`s shere your dream with people all over the world and move forward together !</h2>
    <p style="text-indent:20px;">
        This website allows you to see many dreams all over the world and users can get inspired each other. Let's create your account and shere your dream or the goals in front of you!
    </p>
    <br>
    <h2>You can communicate with other dreamers!</h2>
    <p style="text-indent:20px;">You can send private messages to public users. If you do not want receive any message, you can set your account "private".</p>
    <h2>You should take a look at how you spend a day !</h2>
    <p style="text-indent:20px;">
        If you have what you decided to do in your mind, let's write your story on this site so that you can see how you spend a day.
    </p>
    <p style="text-indent:20px;">
        You can create Books and write your stories on it. There are Private book and Public book, you can choose one of them for each book. If you choose Public book, anyone can see your Public book. and If you choose Private book, only you can see the content.
    </p>
    <p style="text-indent:20px;">
        Let`s write your stories so that anyone can know your stories to your achievement.
    </p>
    <br>
    {% comment %} <h2>Continuity is a father of success !</h2>
    <p>
        One of the best important things to achieve goals is to continue doing, but it is difficult for many people to keep doing what they decided to do.
    </p>
    <br> {% endcomment %}
</section>
<!-- Header End -->
{% endblock %}